.clients {
  padding-top: 80px;
  padding-bottom: 110px;
}

.clients__title {
  margin: 0;
  margin-bottom: 26px;
  font-size: 18px;
  font-weight: 700;
}

.clients__container {
  display: flex;
  flex-direction: column;
}

.clients__tbody-wrapper::-webkit-scrollbar {
  width: 5px;
  background-color: var(--color-white);
}

.clients__tbody-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--color-heliotrope);
  border-radius: 20px;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .25) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, .25) 50%,
      rgba(255, 255, 255, .25) 75%,
      transparent 75%,
      transparent);
}

.clients__tbody-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  border-radius: 20px;
  background-color: var(--body-bg-color);
}

.clients__tbody {
  display: table;
  width: 100%;
}

.display-info {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  margin: -2px 0px 0px -2px;
  padding-bottom: 12px;
  padding-left: 20px;
  background-color: var(--body-bg-color);
}

.display-info__item {
  font-size: 12px;
  font-weight: 400;
  color: var(--text-color);
}

.display-info__item--id,
.display-info__sorting {
  color: var(--color-heliotrope);
  text-transform: uppercase;
}

.display-info__item--id,
.display-info__item--name,
.display-info__item--create,
.display-info__item--change {
  cursor: pointer;
  user-select: none;
}

.display-info__sorting {
  padding-left: 12px;
  font-size: 10px;
}

.display-info__row {
  display: flex;
  width: 100%;
}

.display-info__item--id {
  padding-right: 13px;
  background-position: right center;
}

.display-info__item--name {
  padding-left: 35px;
  background-position: right 16px center;
}

.display-info__item--create {
  position: relative;
  padding-left: 35px;
  padding-right: 0;
}

.display-info__item--create::before {
  content: 'создания';
  position: absolute;
  margin-right: 13px;
  top: 75%;
  right: 12px;
  transform: none;
}

.display-info__item--change {
  position: relative;
  padding-left: 15px;
  padding-right: 0;
}

.display-info__item--change::before {
  content: 'изменения';
  position: absolute;
  margin-right: 13px;
  top: 75%;
  right: -13px;
  transform: none;
}

.display-info__item--contacts {
  padding-left: 40px;
}

.display-info__item--actions {
  padding-left: 95px;
}

.clients__btn {
  display: flex;
  padding: 12px 26px;
  align-self: center;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid var(--color-heliotrope);
  color: var(--color-heliotrope);
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.clients__btn svg {
  display: block;
  margin-right: 10px;
  fill: var(--color-heliotrope);
  transition: fill .3s ease-in-out;
}

.clients__btn:hover {
  background-color: var(--color-heliotrope);
  color: var(--color-white);
}

.clients__btn:hover svg {
  fill: var(--color-white);
}

.create__span,
.change__span {
  position: absolute;
  display: inline-block;
  top: 75%;
  width: 12px;
  height: 100%;
  transform: none;
  background-image: url('../img/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.change__span {
  right: -13px;
}

.create__span {
  right: 12px;
}

.sort-up,
.sort-down {
  background-repeat: no-repeat;
}

.sort-up {
  background-image: url('../img/arrow-up.svg');
}

.sort-down {
  background-image: url('../img/arrow-down.svg');
}

.display-info__item--change,
.display-info__item--create {
  background-image: none;
}
