@media (min-width: 768px) {

  .clients__container {
    padding: 0 20px;
  }

  .clients {
    padding-top: 120px;
  }

  .header__container {
    padding-top: 10px;
    padding-bottom: 12px;
  }

  .header__wrap-logo {
    margin-right: 53px;
  }

  .header__logo {
    width: 50px;
    height: 50px;
  }

  .header__form {
    display: block;
  }

  .modal__content-active {
    margin: 160px auto;
    padding: 25px 30px;
    max-width: 450px;
  }

  .modal__form {
    width: 390px;
  }

  .modal__contact-block {
    margin: 0 -30px;
    margin-bottom: 10px;
  }

  .contact {
    width: 390px;
  }

  .contact__name {
    max-width: 134px;
    min-width: 134px;
  }

  .contact__list {
    max-width: 134px;
    min-width: 134px;
  }

}

@media (min-width: 920px) {

  .display-info__item--create {
    padding-left: 110px;
  }

  .display-info__item--change {
    padding-left: 50px;
  }

  .display-info__item--contacts {
    padding-left: 60px;
  }

}

@media (min-width: 1024px) {

  .display-info__item--name {
    padding-left: 45px;
  }

  .display-info__item--create {
    padding-left: 75px;
  }

  .display-info__item--change {
    padding-left: 55px;
  }

  .display-info__item--contacts {
    padding-left: 65px;
  }

  .display-info__item--actions {
    padding-left: 100px;
  }

  .clients__fullname {
    width: 24%;
  }

  .clients__created {
    flex-direction: row;
    width: 13%;
  }

  .clients__updated {
    flex-direction: row;
    width: 13%;
  }

  .clients__actions {
    flex-direction: row;
  }

  .clients__edit {
    margin-right: 30px;
  }

}

@media (min-width: 1180px) {

  .clients__container {
    padding: 0 15px;
  }

  .display-info {
    padding-bottom: 8px;
  }

  .display-info__item--name {
    padding-left: 60px;
  }

  .display-info__item--create {
    padding-left: 185px;
    padding-right: 70px;
  }

  .create__span {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .change__span {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .display-info__item--create::before {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .display-info__item--change {
    padding-left: 15px;
    padding-right: 80px;
  }

  .display-info__item--change::before {
    margin-right: 13px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .display-info__item--contacts {
    padding-left: 20px;
  }

  .clients__fullname {
    width: 30%;
  }

  .clients__actions {
    width: 18%;
  }
}
